{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }} {{ if .Pages }}
<div class="blips-list">
    {{ range .Pages.ByDate.Reverse }}
    <hr class="section-separator" />
    <article class="blip-item">
        <div class="post-meta">
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00"
            }} {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

            <span class="meta-separator">•</span>
            <a
                href="{{ .RelPermalink }}"
                class="blip-permalink-icon"
                aria-label="Permalink"
                title="Permalink"
            >
                {{ $icon := resources.Get "icons/link.svg" }} {{ $icon.Content |
                safeHTML }}
            </a>
        </div>

        <div class="blip-content">{{ .Content }}</div>

        {{ if .Params.tags }} {{ partial "terms.html" (dict "taxonomy" "tags"
        "page" .) }} {{ end }}
    </article>
    {{ end }}
</div>
{{ else }}
<p>No blips yet.</p>
{{ end }} {{ end }}
